# Hypothesis Assignment

In [1]:
'''1) A F&B manager wants to determine whether there is any
significant difference in the diameter of the cutlet between two
units. A randomly selected sample of cutlets was collected from
both units and measured? Analyze the data and draw inferences
at 5% significance level. Please state the assumptions and tests
that you carried out to check validity of the assumptions.'''

'1) A F&B manager wants to determine whether there is any\nsignificant difference in the diameter of the cutlet between two\nunits. A randomly selected sample of cutlets was collected from\nboth units and measured? Analyze the data and draw inferences\nat 5% significance level. Please state the assumptions and tests\nthat you carried out to check validity of the assumptions.'

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
from scipy.stats import f_oneway
from scipy.stats import stats

In [3]:
#Reading data 
data = pd.read_csv(r'C:\Users\HOME\Desktop\DSA\Hypothesis Assignment\Cutlets.csv')
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
unit1_diameters = data['Unit A']
unit2_diameters = data['Unit B']

In [5]:
#Defining significance level
alpha = 0.05
#Performing Ttest as 'N' is less
t_stat, p_value = ttest_ind(unit1_diameters, unit2_diameters)

In [6]:
p_value

0.4722394724599501

In [7]:
t_stat

0.7228688704678063

In [8]:
# Deciding Correct hypothesis

if p_value < alpha:
    print("We reject the null hypothesis, indicating a significant difference in the diameter of cutlets between the two units.")
else:
    print("We fail to reject the null hypothesis, suggesting that there is no significant difference in the diameter of cutlets between the two units.")

We fail to reject the null hypothesis, suggesting that there is no significant difference in the diameter of cutlets between the two units.

In [9]:
''' 2) A hospital wants to determine whether there is any
difference in the average Turn Around Time (TAT) of reports
of the laboratories on their preferred list. They collected a
random sample and recorded TAT for reports of 4
laboratories. TAT is defined as sample collected to report
dispatch.

Analyze the data and determine whether there is any
difference in average TAT among the different laboratories
at 5% significance level. '''

' 2) A hospital wants to determine whether there is any\ndifference in the average Turn Around Time (TAT) of reports\nof the laboratories on their preferred list. They collected a\nrandom sample and recorded TAT for reports of 4\nlaboratories. TAT is defined as sample collected to report\ndispatch.\n\nAnalyze the data and determine whether there is any\ndifference in average TAT among the different laboratories\nat 5% significance level. '

In [10]:
data1 = pd.read_csv(r'C:\Users\HOME\Desktop\DSA\Hypothesis Assignment\LabTAT.csv')
data1

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [11]:
laboratory1 = data1['Laboratory 1']
laboratory2 = data1['Laboratory 2']
laboratory3 = data1['Laboratory 3']
laboratory4 = data1['Laboratory 4']

In [12]:
#Defining Significance level
alpha = 0.05
#Performing anova test
f_stat, p_value = stats.f_oneway(laboratory1, laboratory2, laboratory3, laboratory4)

C:\Users\HOME\AppData\Local\Temp\ipykernel_2696\418397786.py:4: DeprecationWarning: Please use `f_oneway` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  f_stat, p_value = stats.f_oneway(laboratory1, laboratory2, laboratory3, laboratory4)

In [13]:
f_stat

118.70421654401437

In [14]:
p_value

2.1156708949992414e-57

In [15]:
# Deciding Correct hypothesis

if p_value < alpha:
    print("We reject the null hypothesis, indicating a significant difference in the diameter of cutlets between the two units.")
else:
    print("We fail to reject the null hypothesis, suggesting that there is no significant difference in the diameter of cutlets between the two units.")

We reject the null hypothesis, indicating a significant difference in the diameter of cutlets between the two units.

In [16]:
'''3) Sales of products in four different regions is tabulated for males and females.
Find if male-female buyer rations are similar across regions.'''

'3) Sales of products in four different regions is tabulated for males and females.\nFind if male-female buyer rations are similar across regions.'

In [17]:
from scipy.stats import chi2_contingency

In [18]:
# Creating table of given data
data2 = np.array([[50, 142, 131, 70],
                 [435, 1523, 1356, 750]])

In [19]:
#Defining alpha 
alpha =0.05
#performing chi-square test
chi, p_value, dof, expected = chi2_contingency(data2)
chi

1.595945538661058

In [20]:
dof

3

In [21]:
p_value

0.6603094907091882

In [22]:
# Deciding Correct hypothesis

if p_value < alpha:
    print("We reject the null hypothesis, indicating a significant difference in the diameter of cutlets between the two units.")
else:
    print("We fail to reject the null hypothesis, suggesting that there is no significant difference in the diameter of cutlets between the two units.")

We fail to reject the null hypothesis, suggesting that there is no significant difference in the diameter of cutlets between the two units.

In [23]:
'''4) TeleCall uses 4 centers around the globe to process
customer order forms. They audit a certain % of the
customer order forms. Any error in order form
renders it defective and has to be reworked before
processing. The manager wants to check whether
the defective % varies by centre. Please analyze the
data at 5% significance level and help the manager
draw appropriate inferences'''

'4) TeleCall uses 4 centers around the globe to process\ncustomer order forms. They audit a certain % of the\ncustomer order forms. Any error in order form\nrenders it defective and has to be reworked before\nprocessing. The manager wants to check whether\nthe defective % varies by centre. Please analyze the\ndata at 5% significance level and help the manager\ndraw appropriate inferences'

In [24]:
#Reading data 
data3 = pd.read_csv(r'C:\Users\HOME\Desktop\DSA\Hypothesis Assignment\Costomer+OrderForm.csv')
data3.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [25]:
country1 = data3['Phillippines']
country2 = data3['Indonesia']
country3 = data3['Malta']
country4 = data3['India']

In [26]:
data3.replace({'Error Free': 1, 'Defective': 0}, inplace=True)
data3

     Phillippines  Indonesia  Malta  India
0               1          1      0      1
1               1          1      1      0
2               1          0      0      1
3               1          1      1      1
4               1          1      0      1
..            ...        ...    ...    ...
295             1          1      1      1
296             1          1      1      1
297             1          1      0      1
298             1          1      1      1
299             1          0      0      1

[300 rows x 4 columns]

In [27]:
#Defining Significance level
alpha = 0.05
#Performing anova test
f_stat, p_value = stats.f_oneway(country1, country2, country3, country4)

C:\Users\HOME\AppData\Local\Temp\ipykernel_2696\3786107032.py:4: DeprecationWarning: Please use `f_oneway` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  f_stat, p_value = stats.f_oneway(country1, country2, country3, country4)

In [28]:
f_stat

1.286168556089167

In [29]:
p_value

0.2776780955705948

In [30]:
# Deciding Correct hypothesis

if p_value < alpha:
    print("We reject the null hypothesis, indicating a significant difference in the diameter of cutlets between the two units.")
else:
    print("We fail to reject the null hypothesis, suggesting that there is no significant difference in the diameter of cutlets between the two units.")

We fail to reject the null hypothesis, suggesting that there is no significant difference in the diameter of cutlets between the two units.